{% extends "blog.html" %}
{% block feed %}
    <link rel="alternate" type="application/rss+xml" title="Posts by {{ this.author }} | Tor Project blog" href="{{ ('/@atom/' + this.author)|url }}" />
{% endblock %}
{% block title %}Posts by '{{ this.author }}' | The Tor Project{% endblock %}
{% block page_heading %}<h1 class="title index-title">Posts by <strong>{{ this.author }}</strong></h1>{% endblock %}
